* {
  margin: 0;
  padding: 0;
}
body {
  /* border-style: dashed; */
  width: 297mm;
  height: 420mm;
  padding: 1mm 5mm;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.foto {
  width: 15%;
  border-radius: 5px;
  margin-right: 10px;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contacto p{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.logo {
  width: 1rem;
  margin: 3px;
}
.contacto-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.educacion, .idiomas{
  margin-left: 1rem;
}
.educacion h6{
  margin: 0;
}
.educacion ul{
  margin-bottom: 3px;
}
.educacion p{
  margin-bottom: 1px;
}
main{
  grid-area: main;
}
.lenguajes ul{
  margin-bottom: 5px;
}


